aiohttp==3.6.2
aioice==0.6.16
aiortc==0.9.22
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
av==6.2.0
backcall==0.1.0
cffi==1.13.2
chardet==3.0.4
Click==7.0
crc32c==2.0
cryptography==2.8
decorator==4.4.1
Flask==1.1.1
idna==2.8
ipdb==0.12.3
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
MarkupSafe==1.1.1
multidict==4.7.4
netifaces==0.10.9
numpy==1.18.1
pandas==1.0.0
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pycparser==2.19
pyee==7.0.1
Pygments==2.5.2
pylibsrtp==0.6.4
pymongo==3.10.1
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.8
websockets==8.1
Werkzeug==0.16.1
yarl==1.4.2
